.my-button{
  padding: .5rem 1rem;
  background-color: #EEE;
  border-radius: 3px;
  border: 0;
}

.button-icon{
  border: 0;
  background-color: transparent;
  height: 23px;

  i{
    font-size: 23px;
  }
}
