.modal{
  position: fixed;
  z-index: 301;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(0,0,0,.5);

  .modal-box{
    z-index: 303;
    margin: 10% auto 14%;
    width: 500px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #FFF;

    > header,
    > .container{
      float: left;
      width: 100%;
    }

    > header{
      height: 60px;
      background-color: antiquewhite;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $unit*1.5;
    }

    > .container{
      padding: $unit*1.5;
    }

    > .footer{
      float: left;
      width: 100%;
      padding: 0 1.5rem 1.5rem;
      display: flex;
      justify-content: flex-end;

      > button:last-child{
        margin-left: $unit;
      }
    }
  }
}
