html{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $gray-dark;
  background-color: $background;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
a::-moz-focus-inner, a:active, a:focus,
button::-moz-focus-inner, button:active, button:focus,
select::-moz-focus-inner, select:active, select:focus,
input[type="color"]::-moz-focus-inner, input[type="color"]:active, input[type="color"]:focus,
input[type="button"]::-moz-focus-inner, input[type="button"]:active, input[type="button"]:focus,
input[type="submit"]::-moz-focus-inner, input[type="submit"]:active, input[type="submit"]:focus{
  outline: 0 !important;
}
button,
input[type="color"],
input[type="submit"],
input[type="button"]{
  padding: 0;
}

button{
  cursor: pointer;
}

#app{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-top: $header-footer-height;
}

[class$="-page"]{
  flex: 1;
  padding: $unit*2.5;
}
